RewriteEngine on
RewriteRule ^loginterminal/([A-Za-z0-9]+)$ loginterminal.php?id=$1
RewriteRule ^loginterminal/([A-Za-z0-9-]+)$ loginterminal.php?id=$1
RewriteRule ^loginterminal/([A-Za-z0-9=]+)$ loginterminal.php?id=$1
RewriteRule ^loginterminal loginterminal.php
RewriteRule ^terminalinfo/([A-Za-z0-9]+)$ terminalinfo.php?id=$1
RewriteRule ^terminalinfo/([A-Za-z0-9-]+)$ terminalinfo.php?id=$1
RewriteRule ^terminalinfo/([A-Za-z0-9=]+)$ terminalinfo.php?id=$1
RewriteRule ^terminalinfo terminalinfo.php
RewriteRule ^terminalcustominfo/([A-Za-z0-9]+)$ terminalcustominfo.php?id=$1
RewriteRule ^terminalcustominfo/([A-Za-z0-9-]+)$ terminalcustominfo.php?id=$1
RewriteRule ^terminalcustominfo/([A-Za-z0-9=]+)$ terminalcustominfo.php?id=$1
RewriteRule ^terminalcustominfo terminalcustominfo.php
RewriteRule ^airtimepurchase/([A-Za-z0-9]+)$ airtimepurchase.php?id=$1
RewriteRule ^airtimepurchase/([A-Za-z0-9-]+)$ airtimepurchase.php?id=$1
RewriteRule ^airtimepurchase/([A-Za-z0-9=]+)$ airtimepurchase.php?id=$1
RewriteRule ^airtimepurchase airtimepurchase.php
RewriteRule ^mobiledatapurchase/([A-Za-z0-9]+)$ mobiledatapurchase.php?id=$1
RewriteRule ^mobiledatapurchase/([A-Za-z0-9-]+)$ mobiledatapurchase.php?id=$1
RewriteRule ^mobiledatapurchase/([A-Za-z0-9=]+)$ mobiledatapurchase.php?id=$1
RewriteRule ^mobiledatapurchase mobiledatapurchase.php
RewriteRule ^mobiledataproduct/([A-Za-z0-9]+)$ mobiledataproduct.php?id=$1
RewriteRule ^mobiledataproduct/([A-Za-z0-9-]+)$ mobiledataproduct.php?id=$1
RewriteRule ^mobiledataproduct/([A-Za-z0-9=]+)$ mobiledataproduct.php?id=$1
RewriteRule ^mobiledataproduct mobiledataproduct.php
RewriteRule ^banklist/([A-Za-z0-9]+)$ banklist.php?id=$1
RewriteRule ^banklist/([A-Za-z0-9-]+)$ banklist.php?id=$1
RewriteRule ^banklist/([A-Za-z0-9=]+)$ banklist.php?id=$1
RewriteRule ^banklist banklist.php
RewriteRule ^nameenquiry/([A-Za-z0-9]+)$ nameenquiry.php?id=$1
RewriteRule ^nameenquiry/([A-Za-z0-9-]+)$ nameenquiry.php?id=$1
RewriteRule ^nameenquiry/([A-Za-z0-9=]+)$ nameenquiry.php?id=$1
RewriteRule ^nameenquiry nameenquiry.php
RewriteRule ^fundtransfer/([A-Za-z0-9]+)$ fundtransfer.php?id=$1
RewriteRule ^fundtransfer/([A-Za-z0-9-]+)$ fundtransfer.php?id=$1
RewriteRule ^fundtransfer/([A-Za-z0-9=]+)$ fundtransfer.php?id=$1
RewriteRule ^fundtransfer fundtransfer.php
RewriteRule ^accountbalance/([A-Za-z0-9]+)$ accountbalance.php?id=$1
RewriteRule ^accountbalance/([A-Za-z0-9-]+)$ accountbalance.php?id=$1
RewriteRule ^accountbalance/([A-Za-z0-9=]+)$ accountbalance.php?id=$1
RewriteRule ^accountbalance accountbalance.php
RewriteRule ^billers/([A-Za-z0-9]+)$ billers.php?id=$1
RewriteRule ^billers/([A-Za-z0-9-]+)$ billers.php?id=$1
RewriteRule ^billers/([A-Za-z0-9=]+)$ billers.php?id=$1
RewriteRule ^billers billers.php
RewriteRule ^billerverification/([A-Za-z0-9]+)$ billerverification.php?id=$1
RewriteRule ^billerverification/([A-Za-z0-9-]+)$ billerverification.php?id=$1
RewriteRule ^billerverification/([A-Za-z0-9=]+)$ billerverification.php?id=$1
RewriteRule ^billerverification billerverification.php
RewriteRule ^billpayment/([A-Za-z0-9]+)$ billpayment.php?id=$1
RewriteRule ^billpayment/([A-Za-z0-9-]+)$ billpayment.php?id=$1
RewriteRule ^billpayment/([A-Za-z0-9=]+)$ billpayment.php?id=$1
RewriteRule ^billpayment billpayment.php
RewriteRule ^transactionlist/([A-Za-z0-9]+)$ transactionlist.php?id=$1
RewriteRule ^transactionlist/([A-Za-z0-9-]+)$ transactionlist.php?id=$1
RewriteRule ^transactionlist/([A-Za-z0-9=]+)$ transactionlist.php?id=$1
RewriteRule ^transactionlist transactionlist.php
RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]