 <rule name="Imported Rule 1">
                    <match url="^bybranch/([A-Za-z0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="bybranch.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^bybranch" ignoreCase="false" />
                    <action type="Rewrite" url="bybranch.php" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^bylimit/([A-Za-z0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="bylimit.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^bylimit" ignoreCase="false" />
                    <action type="Rewrite" url="bylimit.php" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^([A-Za-z0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 6">
                    <match url="^([A-Za-z0-9-]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 7">
                    <match url="^([A-Za-z0-9_]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 8">
                    <match url="^([^/.]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>