<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^userTrans/([A-Za-z0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="userTrans.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^userTrans/([A-Za-z0-9-]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="userTrans.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^userTrans" ignoreCase="false" />
                    <action type="Rewrite" url="userTrans.php" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^transLimit/([A-Za-z0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="transLimit.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^transLimit" ignoreCase="false" />
                    <action type="Rewrite" url="transLimit.php" />
                </rule>
                <rule name="Imported Rule 6">
                    <match url="^deposit/([A-Za-z0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="deposit.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 7">
                    <match url="^deposit" ignoreCase="false" />
                    <action type="Rewrite" url="deposit.php" />
                </rule>
                <rule name="Imported Rule 8">
                    <match url="^withdraw/([A-Za-z0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="withdraw.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 9">
                    <match url="^withdraw" ignoreCase="false" />
                    <action type="Rewrite" url="withdraw.php" />
                </rule>
                <rule name="Imported Rule 10">
                    <match url="^depByStaff/([A-Za-z0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="depByStaff.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 11">
                    <match url="^depByStaff/([A-Za-z0-9-]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="depByStaff.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 12">
                    <match url="^depByStaff/([A-Za-z0-9=]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="depByStaff.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 13">
                    <match url="^depByStaff" ignoreCase="false" />
                    <action type="Rewrite" url="depByStaff.php" />
                </rule>
                <rule name="Imported Rule 14">
                    <match url="^withByStaff/([A-Za-z0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="withByStaff.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 15">
                    <match url="^withByStaff/([A-Za-z0-9-]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="withByStaff.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 16">
                    <match url="^withByStaff/([A-Za-z0-9=]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="withByStaff.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 17">
                    <match url="^withByStaff" ignoreCase="false" />
                    <action type="Rewrite" url="withByStaff.php" />
                </rule>
                <rule name="Imported Rule 18">
                    <match url="^withCharges/([A-Za-z0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="withCharges.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 19">
                    <match url="^withCharges" ignoreCase="false" />
                    <action type="Rewrite" url="withCharges.php" />
                </rule>
                <rule name="Imported Rule 20">
                    <match url="^ledgerBal/([A-Za-z0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="ledgerBal.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 21">
                    <match url="^ledgerBal" ignoreCase="false" />
                    <action type="Rewrite" url="ledgerBal.php" />
                </rule>
                <rule name="Imported Rule 22">
                    <match url="^totalLedgerSavings/([A-Za-z0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="totalLedgerSavings.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 23">
                    <match url="^totalLedgerSavings" ignoreCase="false" />
                    <action type="Rewrite" url="totalLedgerSavings.php" />
                </rule>
                <rule name="Imported Rule 24">
                    <match url="^([A-Za-z0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 25">
                    <match url="^([A-Za-z0-9-]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 26">
                    <match url="^([A-Za-z0-9_]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 27">
                    <match url="^([^/.]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
