RewriteEngine on
RewriteRule ^appActivation/([A-Za-z0-9]+)$ appActivation.php?id=$1
RewriteRule ^appActivation appActivation.php
RewriteRule ^([A-Za-z0-9]+)$ index.php?id=$1
RewriteRule ^([A-Za-z0-9-]+)$ index.php?id=$1
RewriteRule ^([A-Za-z0-9_]+)$ index.php?id=$1
RewriteRule ^([^/.]+)/?$ $1.php
RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]