RewriteEngine on
RewriteRule ^nameEnquiry/([0-9]+)/([0-9]+)$ nameEnquiry.php?id=$1&freq=$2
RewriteRule ^nameEnquiry/([0-9]+)/([0-9]+)/$ nameEnquiry.php?id=$1&freq=$2
RewriteRule ^nameEnquiry nameEnquiry.php
RewriteRule ^bankList bankList.php
RewriteRule ^([A-Za-z0-9]+)$ index.php?id=$1
RewriteRule ^([A-Za-z0-9-]+)$ index.php?id=$1
RewriteRule ^([A-Za-z0-9_]+)$ index.php?id=$1
RewriteRule ^([^/.]+)/?$ $1.php
RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]