RewriteEngine on
RewriteRule ^fetchCustByDate fetchCustByDate.php
RewriteRule ^allCustomerByFreq/([A-Za-z]+)$ allCustomerByFreq.php?freq=$1
RewriteRule ^allCustomerByFreq allCustomerByFreq.php
RewriteRule ^verifyCustomer verifyCustomer.php
RewriteRule ^bybranch/([A-Za-z0-9]+)$ bybranch.php?id=$1
RewriteRule ^bybranch bybranch.php
RewriteRule ^bylimit/([A-Za-z0-9]+)$ bylimit.php?id=$1
RewriteRule ^bylimit bylimit.php
RewriteRule ^([^/.]+)/?$ $1.php
RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]